@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
:root{
    --main-gray: #2d3033;
    --main-blue: rgb(182, 116, 190);
}

*{
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    justify-content: flex-end;

    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    background: rgb(218, 65, 30);
    z-index: 10;
}
.nav-list{
    display: flex;
    margin-right: 2rem;
    top: 2px;
  
    /* background-color: aqua; */


}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.8rem;
    font-weight: 400;
    color: white;
    line-height: 0.8rem;
}
.welcome-section{
    display: flex;
    
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 100%;
    height: 100vh;
    /* padding: 80px; */
   background-color: #000;
   background-image: linear-gradient(62deg , #3a3d40 30%,#181719 100%);

    

}
.welcome-section p{
       color: rgb(223, 62, 62);
       font-style: italic;
       font-size: 3rem;
       font-weight: 200;
       padding: 0px;
       transition: all 1s ease-in-out;

}
.welcome-section h1{
    transition: all 1s ease-in-out;     
}
.welcome-section h1:hover{
    transform: scaleX(1.5) scaleY(1);
    color:lightsalmon;
}
.welcome-section p{
    transition: all 1s ease-in-out ;
    /* transition-delay: 2s; */
    /* transform:translateX(223px); */
    
}
.welcome-section p:hover {
    transform:translateX(223px);
    color: blueviolet;
}

h1{
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    font-weight: 500;

}
a{
    color: rgb(238, 225, 225);
    text-decoration: none;
}
h1{
    font-size: 6rem;
    padding: 38px;
}
ul{
    list-style: none;
}
.nav-list a{
   
    padding: 2rem;
    display: block;
    font-size: 2rem;
    
    
}
a:hover{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #030d16;
    
}
.nav-list{
    display: flex;
    margin: 2rem;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
*,
*::after,
*::before{
    box-sizing: inherit;

}
.projects-section{
    padding: 7rem 2rem;
    text-align: center;
    background-image: linear-gradient(62deg , #86a9cc 30%,#8863ad 100%);

}
.projects-section-header{
    margin: 0 auto 5rem auto;
    border-bottom: 0.2rem;
    color: violet;
    font-weight: bold;
   
   
    
}
h2{
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
    font-weight: bold;
   
}
.projects-section-header:hover{
    transform: rotate(360deg);
}
.project-grid{
    display: grid;
    grid-template-columns: repeat(3,30vw);
    width: 100%;
    
    margin-bottom: 6rem;
    margin:15px;
    padding: 35px 0;
    

}
.project-image{
    
    height: 70%;
    width: 70%;
    transition: all 1s ease-in-out;
    

}
.project-title{
    padding: 2rem 0.5rem;
    font-size: 2rem;
}
.project-image:hover{
    border: 2px solid rgb(176, 176, 218);
    border-radius: 5px;
    transform:rotate(360deg);

}
.contact-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 70vh ;
    padding: 0 8rem;
    background-color: #202c38;
}
.contact-section-header >h2{
    font-size: 5rem;

}
.contact-section-header>p{
    font: italic;
}
.contact-links{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 920px;
    flex-wrap: wrap;
    margin-top: 4rem;
}
.contact-details{
    font-size: 2.5rem;
    transition: transform 0.3s ease-out;
    
}
.contact-details:hover{
    transform: translateY(8px);

}
.btn{
    display: inline-block;
    padding: 1rem 2rem;
}


@media screen  and (max-width: 600px){
    .nav{
        /* display: flex; */
        justify-content: flex-end;
         display: grid;
        position: fixed;
        width: 100%;
        left: 0px;
        top: 0px;
        background: rgb(218, 65, 30);
        z-index: 10;
    }
    .nav-list{
        /* display: flex; */
        display: grid;
        margin-right: 0.5rem;
        top: 1px;
    }
    h2{
        font-family: 'Dancing Script', cursive;
        font-size: 2.5rem;
        font-weight: bold;
    }
    .project-grid{
        display: flex;
        flex-direction: column;
        /* grid-template-columns: repeat(1,30vw); */
        width: 100%;
        
        margin-bottom: 6rem;
        margin:15px;
        padding: 35px 0;}
        .welcome-section{
            display: flex;
            
            flex-direction: column;
            justify-content: center; 
            align-items: center;
            width: 100%;
            height:80vh;
            /* padding: 80px; */
           background-color: #000;
           background-image: linear-gradient(62deg , #3a3d40 30%,#181719 100%);
        
        }     
        li a:hover{
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: #030d16;
        }   
        .welcome-section p{
            color: rgb(223, 62, 62);
            font-style: italic;
            font-size: 1.5rem;
            font-weight: 200;
            padding: 0px;
        }
        h1{
            font-size: 3rem;
            padding: 38px;


}
h1{
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    font-weight: 300;}
    .nav-list a{
   
        padding: 1.5rem;
        display: block;
        font-size: 2rem;
        
        
    }
    .contact-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 70vh ;
        padding: 0 8rem;
        background-color: #202c38;
    }
    .contact-section-header >h2{
        font-size: 2rem;}

} 

